<link rel="stylesheet" href="/assets/css/order/cashierdeskcheckout.css" >

<div id="app">
    <div class="payhead">
        <div class="payhead_left">
            <img src="/assets/images/return.png" alt="">
        </div>
<!--        <div class="payhead_size">Select a payment mode</div>-->
    </div>
    <div class="paying_box">
        <div class="paying">
            <div class="paying_top">Paying</div>
            <div class="paying_bottom">₹ [[ amount ]]</div>
        </div>

        <div class="upi_box">
            <img src="/assets/images/upi.png" alt="">
            <span>UPI</span>
        </div>

        <div class="open_box">
            <div class="open_zise">Open with</div>
            <div class="open_right">
                <div class="open_left" v-for="(item, index) in bigImgList" :key="index">
                    <img :src="item.url" alt="" @click="selectPayProvider(item)">
                    <span :class="item.class"></span>
                    <span>{{item.payName}}</span>
                </div>
            </div>
        </div>

        <div class="other">
            <div class="other_upi">Other UPI Apps</div>
            <div class="other_img">

                <img v-for="(item, index) in smallImgList" :key="index" :class="item.class" :src="item.url" alt="" @click="selectPayProvider2(item)">
<!--                <img :class="smallImg2" src="/assets/images/ys_upi.png" alt="" @click="selectPayProvider2('upi','smallImg2')">-->
<!--                <img :class="smallImg3" src="/assets/images/zhifu.png" alt="" @click="selectPayProvider2('phonepe','smallImg3')">-->
<!--                <img :class="smallImg4" src="/assets/images/googlepay_0_5.png" alt="" @click="selectPayProvider2('gpay','smallImg4')">-->
<!--                <img :class="smallImg5" src="/assets/images/pay.png" alt="" @click="selectPayProvider2('upi','smallImg5')">-->
            </div>
        </div>

        <div class="border"></div>

        <div class="should_box">
            <!-- <div class="should_id">UPI ID</div>
            <div class="should_size">9856430030@ybl</div>
            <div class="should_mobi">UPI ID should be in the format</div>
            <div class="should_mobi">mobilenmber@ybl or username@ybl</div>
            <div class="should_img">
                <div class="should_img_a"><img src="/assets/images/xuanzhong.png" alt=""></div>
                <span>Save UPI ID</span>
            </div> -->

            <input type="hidden" value=[[ params.redirectUrl ]] ref="redirectUrl">
            <input type="hidden" value=[[ params.redirectQrUrl ]] ref="redirectQrUrl">
            <div class="should_button" @click="Pay">Pay Securely</div>
        </div>
    </div>
</div>


<script>
    let app = new Vue({
        el: '#app',
        data: {
            payType: "upi",
            bigImgList: [
                {url:"/assets/images/googlepay.png", class:"", payType:"gpay", payName:"Google Pay"},
                {url:"/assets/images/phonepe.png", class:"", payType:"phonepe",payName:"PhonePe"},
                {url:"/assets/images/scanqrcode.png", class:"", payType:"qrcode",payName:"ScanQr"}
            ],
            smallImgList: [
                {url:"/assets/images/paytm.png", class:"", payType:"paytm"},
                {url:"/assets/images/ys_upi.png", class:"", payType:"upi"},
                {url:"/assets/images/zhifu.png", class:"", payType:"phonepe"},
                {url:"/assets/images/googlepay_0_5.png", class:"", payType:"gpay"},
                {url:"/assets/images/pay.png", class:"", payType:"upi"},
            ]
        },
        created: function(){
            // console.log("xxx")
        },
        // 在 `methods` 对象中定义方法
        methods: {
            selectPayProvider: function (item) {
                this.payType = item.payType
                const self = this
                Object.keys(self.bigImgList).forEach(function (key){
                    self.bigImgList[key].class = ""
                })
                Object.keys(self.smallImgList).forEach(function (key){
                    self.smallImgList[key].class = ""
                })
                item.class = "boder2image"
                if (item.payType == "qrcode") {
                    var redirectQrUrl = this.$refs.redirectQrUrl.value
                    window.location.href = redirectQrUrl
                }
            },
            selectPayProvider2: function (item) {
                this.payType = item.payType
                const self = this
                Object.keys(self.bigImgList).forEach(function (key){
                    self.bigImgList[key].class = ""
                })
                Object.keys(self.smallImgList).forEach(function (key){
                    self.smallImgList[key].class = ""
                })
                item.class = "boderimage"
                // console.log("this.payType: ", this.payType)
            },
            Pay: function () {
                // console.log("this.redirectUrl: ", this.$refs.redirectUrl.value)
                var redirectUrl = this.$refs.redirectUrl.value
                window.location.href = redirectUrl + "/" + this.payType
            }
        }
    })
</script>