* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

.boxs {
    height: 16.24rem;
    background-color: #EEEEEE;
}

.payhead {
    width: 100%;
    height: 0.88rem;
    background: #6C44C2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payhead_size {
    padding-right: 0.5rem;
    font-size: 0.36rem;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 auto;
}

.payhead_left {
    display: flex;
    padding-left: 0.2rem;
}

.payhead_left img {
    width: 0.48rem;
    height: 0.48rem;
}

.paying_box {
    padding: 0 0.4rem;
}

.other_img .boderimage{
    border: 0.01rem solid #6C44C2;
    border-radius: 10%;
}

.boder2image {
    position: absolute;
    border-radius: 13%;
    background-color:#6C44C2; opacity:0.2; -moz-opacity:0.5; filter:alpha(opacity=50);
    width: 1.5rem;
    height: 1.9rem;
}



.paying {
    width: 6.7rem;
    height: 1.7rem;
    background: #FFFFFF;
    border-radius: 0.1rem;
    opacity: 1;
    border: 0.02rem solid #DDDDDD;
    margin-top: 0.4rem;
    padding: 0.2rem 0 0 0.2rem;
}

.paying_top {
    font-size: 0.32rem;
    font-weight: 400;
    color: #333333;
    margin-bottom: 0.1rem;
}

.paying_bottom {
    font-size: 0.48rem;
    font-weight: 600;
    color: #333333;
}

.upi_box {
    height: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 0.04rem solid #dddddd;
}

.upi_box img {
    width: 0.48rem;
    height: 0.48rem;
}

.upi_box span {
    font-size: 0.28rem;
    margin-left: 0.2rem;
    font-weight: 600;
    color: #333333;

    text-align: center;
}

.open_box {
    height: 3rem;
    border-bottom: 0.04rem solid #dddddd;
}

.open_zise {
    font-size: 0.32rem;
    font-weight: 600;
    color: #333333;
    padding: 0.3rem 0 0.1rem 0;
}

.open_right {
    width: 3.1rem;
    display: flex;
    justify-content: space-between;
}

.open_left {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.3rem;
}

.open_left img {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.1rem 0;
}

.open_left span {
    font-size: 0.2rem;
    font-weight: 400;
    color: #333333;
}

.other_upi {
    font-size: 0.32rem;
    font-weight: 600;
    color: #333333;
}

.other {
    height: 2.3rem;
    border-bottom: 0.04rem solid #dddddd;
}

.other_upi {
    padding: 0.3rem 0 0.2rem 0;
}

.other_img {
    height: 1rem;
    display: flex;
    justify-content: space-between;
}

.should_id {
    font-size: 0.32rem;
    font-weight: 600;
    color: #333333;
    margin: 0.3rem 0 0.2rem 0;
}

.should_size {
    width: 6.7rem;
    height: 0.92rem;
    line-height: 0.92rem;
    padding-left: 0.2rem;
    background: #FFFFFF;
    border-radius: 0.1rem;
    opacity: 1;
    border: 0.02rem solid #6C44C2;
    font-size: 0.32rem;
    font-weight: 400;
}

.should_mobi {
    font-size: 0.32rem;
    font-weight: 400;
    color: #666666;
    margin-top: 0.2rem;
}

.should_img {
    display: flex;
    margin: 0.2rem 0 0.4rem 0;
}

.should_img span {
    font-size: 0.32rem;
    font-weight: 600;
    color: #333333;
    margin-left: 0.2rem;
}

.should_img_a {
    width: 0.48rem;
    height: 0.48rem;
    background: #6C44C2;
    border-radius: 0.1rem;
    opacity: 1;
    display: flex;
}

.should_button {
    margin: 0 auto;
    width: 6.7rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.4rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    background: #6C44C2;
    border-radius: 0.1rem;
    opacity: 1;
}