<link rel="stylesheet" href="/assets/css/order/checkout.css" >
<div class="boxs">

        <div class="payhead">
            <div class="payhead_left">
                <img src="/assets/images/return.png" alt="">
            </div>
            <div class="payhead_size">[[ title ]]</div>
        </div>
        <div class="upi_box">
        <div class="order_center">
            <div class="order">
                <div class="order_top">Amount</div>
                <div class="order_bottom">₹ [[ amount ]]</div>
            </div>
        </div>
        <div class="border"></div>
        <!-- <h2>UPI</h2>
        <h3>Select the preferred UPI app to make payment</h3>
        <div class="payhead_img">
            <div class="payhead_img_border">
                <img src="/assets/images/googlepay.png" alt="">
            </div>
            <div class="payhead_img_border">
                <img src="/assets/images/phonepe.png" alt="">
            </div>
            <div class="payhead_img_border">
                <img src="/assets/images/paytm.png" alt="">
            </div>
        </div> -->
        <div class="pay_box">
            <img src="/assets/images/suo.png" alt="">
            <span onclick="Pay()">Pay Securely</span>
        </div>
         <form name="form1" action="https://bo.fynzonpay.com/payment.do" method="post">
                                <!--Your Store API Token -->
                                <input type='hidden' name='api_token' value="[[ params["api_token"] ]]"/>
                                <input type='hidden' name='store_id' value="[[ params["store_id"] ]]"/>
                                 <!--This default (fixed) value can not to be changed -->
                                <input type='hidden' name='action' value="[[ params["product"] ]]"/>
                                <!--client_ip - Internet Protocol. This represents the current IP address of the customer carrying out the transaction -->
                                <input type='hidden' name='client_ip' value="[[ params["client_ip"] ]]"/>
                                <!--source_url - Url of Product Page -->
                                <input type='hidden' name='source_url' value="[[ params["source_url"] ]]"/>
                                <!--product price,curr and product name * by cart total amount -->
                                <!--This is the amount to be charged from card -->
                                <input type='hidden' name='price' value="[[ params["price"] ]]"/>
                                <!--This is the specified currency to charge the card. -->
                                <input type='hidden' name='curr' value="[[ params["curr"] ]]"/>
                                <!--This is the specified Product Name to purchased. -->
                                <input type='hidden' name='product_name' value="[[ params["product_name"] ]]"/>
                                <!--billing details of .* customer -->

                                <!--This is the fullname of the full name or the customer -->
                                <input type='hidden' name='fullname' value="[[ params["fullname"] ]]"/>
                                <!--This is the email address of the customer. -->
                                <input type='hidden' name='email' value="[[ params["email"] ]]"/>
                                <!--This is the first address of the customer. -->
                                <input type='hidden' name='bill_street_1' value="[[ params["bill_street_1"] ]]"/>
                                <!--This is the scened address of the customer. -->
                                <input type='hidden' name='bill_street_2' value="[[ params["bill_street_2"] ]]"/>
                                <!--This is the city of the customer. -->
                                <input type='hidden' name='bill_city' value="[[ params["bill_city"] ]]"/>
                                <!--This is the state of the customer. -->
                                <input type='hidden' name='bill_state' value="[[ params["bill_state"] ]]"/>
                                <!--This is the country of the customer for ISO Alpha-2. -->
                                <input type='hidden' name='bill_country' value="[[ params["bill_country"] ]]"/>
                                <!--This is the zip code of the customer. -->
                                <input type='hidden' name='bill_zip' value="[[ params["bill_zip"] ]]"/>
                                <!--This is the phone number of the customer. -->
                                <input type='hidden' name='bill_phone' value="[[ params["bill_phone"] ]]"/>
                                <!--This is the unique reference, unique to the particular transaction being carried out. It is generated by the merchant for every transaction -->
                                <input type='hidden' name='id_order' value="[[ params["id_order"] ]]"/>
                                <!--notify_url is a url you provide, we send by curl method to it after the customer process for completes payment and append by curl the response to it as query parameters ex. https://yourdomain.com/notify.php -->

                                <input type='hidden' name='notify_url' value="[[ params["notify_url"] ]]"/>
                                <!--success_url is a url you provide, we redirect to it after the customer completes payment and redirect this url with response to it as query parameters ex. https://yourdomain.com/success.php -->

                                <input type='hidden' name='success_url' value="[[ params["success_url"] ]]"/>
                                <!--error_url is a url you provide, we redirect to it after the customer failed payment and redirect this url with response to it as query parameters ex. https://yourdomain.com/failed.php -->

                                <input type='hidden' name='error_url' value="[[ params["error_url"] ]]"/>

                                <!--card details of .* customer -->

                                <!--This is the card number on the Debit/Credit card -->
                                <input type='hidden' name='ccno' value="[[ params["ccno"] ]]"/>
                                <!--Card security code. This is 3/4 digit code at the back of the customers card, used for web payments. -->
                                <input type='hidden' name='ccvv' value="[[ params["ccvv"] ]]"/>
                                <!--Two-digit number representing the card's expiration month. -->
                                <input type='hidden' name='month' value="[[ params["month"] ]]"/>
                                <!--Two- digit number representing the card's expiration year. -->
                                <input type='hidden' name='year' value="[[ params["year"] ]]"/>
                                <!--This comment from customer. -->
                                <input type='hidden' name='notes' value="[[ params["notes"] ]]"/>
                                <!--default value for source and cardsend  -->
                                 <input type='hidden' name='cardsend' value="[[ params["cardsend"] ]]"/>
                                 <input type='hidden' name='source' value="[[ params["source"] ]]"/>
                    </form>
    </div>
        <div class="pingfang">Please do not close the screen</div>
    </div>
<script>

    function Pay(){
        document.form1.submit();
    }

</script>