* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
    .pingfang {
        width: 100%;
        color: #999999;
        font-size: 0.28rem;
        text-align: center;
        position: fixed;
        bottom: 0rem;
    }
    .border {
        margin: 0.2rem 0 0.5rem 0;
    }

}

@media screen and (max-width: 1000px) {
    .pingfang {
        width: 100%;
        color: #999999;
        font-size: 0.28rem;
        text-align: center;
        position: fixed;
        bottom: 0.8rem;
    }
    .border {
        margin: 1rem 0 1rem 0;
    }
    .upi_box{
        height: 8rem;
    }
}
@media screen and (max-width: 500px) {
    .upi_box {
        height: 8rem;
    }
    .border {
        margin: 1rem 0 1rem 0;
    }
}


.upi_box {

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.payhead {
    height: 0.88rem;
    background: #6C44C2;
    display: flex;
    align-items: center;
    text-align: center;
}

.payhead_left {
    display: flex;
    padding-left: 0.2rem;
}

.payhead_left img {
    width: 0.48rem;
    height: 0.48rem;
}

.payhead_size {
    padding-right: 0.5rem;
    font-size: 0.36rem;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 auto;
}

.order_center {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_top {
    font-size: 0.7rem;
    color: #666666;
    margin-bottom: 0.5rem;
}

.order_bottom {
    font-size: 0.6rem;
    font-weight: 600;
    color: #333333;
    text-align: center;
}

.border {
    height: 0.24rem;
    background-color: #DCDCDC;
}

.pay_box {
    width: 6.7rem;
    height: 1.2rem;
    background: #6C44C2;
    border-radius: 0.1rem;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

.pay_box img {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.2rem;
}

.pay_box span {
    font-size: 0.4rem;
    font-weight: 400;
    color: #FFFFFF;
}